<h1>F1</h1>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Név</th>
            <th>Pontszám</th>
            <th>Első helyezések száma</th>
            <th>Pole pozíciók</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pilota of megjelenitendoAdatok">
            <td>{{pilota.nev}}</td>
            <td>{{pilota.pont}}</td>
            <td>{{pilota.elsoHelyezesekSzama}}</td>
            <td>{{pilota.polePosition}}</td>
        </tr>
    </tbody>
</table>
